body {
    font-family: "Inter", monospace, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
}