footer {
    flex-grow: 0;
    background-color: #24292e;
    border-top: 1px solid black;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.75rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

.footer--link {
    color: white;
    text-decoration: none;
    font-size: 0.80rem;
    margin: 0 1rem;
}