</main>
<footer>
    <a class="footer--link" href="/mentions" title="Page des Mentions légales">Mentions légales</a>
    <a class="footer--link" href="/cookies-consent-info" title="Page de divulgation, avis et consentement sur les cookies">Divulgation, avis et consentement sur les cookies</a>
</footer>
</body>

</html>