<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Suivi projet application</title>
</head>

<body>
    <header>
        <h1><a class="home--link" href="/" title="ProjectHub, lien vers la page d'accueil.">ProjectHub</a></h1>
        <%- include(rootpath+'/partials/navigation') %>
    </header>
    <%- include(rootpath+'/partials/message') %>
    <main>