<%- include(rootpath+'/partials/header',{header:{title:'ERROR 404 - Page not found'}}) %>

<div class="error__message">
  Sorry, the page {<%= errorUrl %>} you request isn't exist any more, please go back.
</div>

<%- include(rootpath+'/partials/footer') %>