<%- include(rootpath+'/partials/header') %>

<h1>ERROR 503 - Service Unavailable</h1>
<div class="error__message">
  Sorry, we cannot process your request, an error has occurred. <br> Please go back.
</div>

<%- include(rootpath+'/partials/footer') %>