<%- include(rootpath+'/partials/header',{header:{title:'ERROR 503 - Service Unavailable'}}) %>

<div class="error__message">
  Sorry, we cannot process your request, an error has occurred. <br> Please go back.
</div>

<%- include(rootpath+'/partials/footer') %>