<%- include(rootpath+'/partials/header') %>

<h1>ERROR 404 - Page not found</h1>
<div class="error__message">
  Sorry, the page {<%= errorUrl %>} you request isn't exist, please go back.
</div>

<%- include(rootpath+'/partials/footer') %>