<%- include(rootpath+'/partials/header') %>
    <section>
        <h1>Divulgation, avis et consentement sur les cookies</h1>
        <p>ProjectHub utilise un certain nombre d'outils pour recueillir des informations vous concernant, voire sur les points d'accès de votre ordinateur ainsi que le navigateur Internet utilisé pour vous connecter à nos sites Internet. Par exemple, les
            cookies sont de petits fichiers de texte que nous installons sur le disque dur de votre ordinateur lors de vos visites sur nos sites Internet. Nous pouvons utiliser des cookies pour personnaliser vos interactions avec nos sites Internet. Vous
            n’êtes pas tenu d'accepter nos cookies et vous pouvez configurer votre navigateur de sorte à restreindre leur utilisation et même les supprimer après leur installation sur votre disque dur. En cas de refus ou de suppression de nos cookies,
            le fonctionnement de certaines rubriques de nos sites Internet pourrait être moins rapide ou se détériorer.</p>

        <p>Pour obtenir davantage d'informations sur nos cookies, veuillez-vous rendre ci-dessous. Pour obtenir davantage d'informations générales sur les cookies, veuillez cliquer ici : <a href="https://www.allaboutcookies.org">www.allaboutcookies.org</a>.</p>

        <h2>AVIS ET TABLEAU RÉCAPITULATIF SUR LES COOKIES</h2>

        <p>CE SITE WEB UTILISE DES COOKIES ET PEUT ÉGALEMENT UTILISER LES SERVICES DE FOURNISSEURS TIERS DÉPLOYANT DES COOKIES DANS LE CADRE DE LEURS SERVICES. NOUS AVONS ADOPTÉ LA DÉFINITION DE COOKIES AU SENS ÉTABLI PAR LA DIRECTIVE EUROPEENNE 2002/58/CE
            CONCERNANT LE TRAITEMENT DES DONNEES A CARACTERE PERSONNEL ET LA PROTECTION DE LA VIE PRIVEE DANS LE SECTEUR DES COMMUNICATIONS ELECTRONIQUES (TEL QU’AMENDE PAR LA DIRECTIVE 2009/136/CE) ET NOUS COMMUNIQUONS DES INFORMATIONS SUR LES DIFFÉRENTES
            CATÉGORIES DE COOKIES CI-DESSOUS, AINSI QUE DES INFORMATIONS SUR LES TYPES DE COOKIES QUE NOUS DÉPLOYONS SUR NOS SITES WEB. EN CONTINUANT D’UTILISER LE SITE WEB, VOUS CONSENTEZ À L'INSTALLATION DE COOKIES SUR TOUT APPAREIL UTILISÉ POUR VISITER
            NOTRE/NOS SITE(S) WEB.</p>


        <h2>CATÉGORIES DE COOKIE : </h2>

        <h3>Catégorie 1 : </h3>
        <p>Cookies d'absolue nécessité Les cookies de catégorie 1 sont indispensables à votre navigation sur le Site web et à l'utilisation de ses fonctionnalités telles que l'accès aux zones sécurisées du Site web. </p>

        <h3>Catégorie 2 : </h3>
        <p>Cookies de performance Les cookies de catégorie 2 recueillent des informations sur les utilisations caractéristiques des visiteurs pour notre Site web, notamment les pages les plus visitées et les messages d'erreur rencontrés sur les pages web.
            Ces cookies ne recueillent aucune information permettant d'identifier un visiteur en particulier. Toutes les informations recueillies par ces cookies sont agrégées et de ce fait, anonymes. Elles ne servent qu'à améliorer le fonctionnement
            du Site web. Les cookies de catégorie 2 ne recueillent que des informations relatives à l'utilisation du Site web, qui profiteront à l'exploitant du Site web. En utilisant notre service en ligne, vous consentez à l'installation éventuelle
            de ces types de cookies sur votre appareil. </p>

        <h3>Catégorie 3 : </h3>
        <p>Cookies de fonctionnalités Les cookies de catégorie 3 permettent au Site web de mémoriser vos choix (comme votre nom d'utilisateur, langue ou région) et de proposer des fonctions à la fois plus personnelles ou personnalisées, ainsi que d'améliorer
            ces dernières. Par exemple, notre Site web pourrait vous communiquer des informations sur des produits locaux ou régionaux en mémorisant votre région de résidence actuelle dans un cookie. Ces cookies peuvent aussi servir à mémoriser toutes
            modifications que vous auriez apportées à la taille et aux polices des textes, ainsi qu'à d'autres éléments personnalisables des pages web. Ils peuvent aussi servir à fournir des services demandés comme le visionnage de vidéos ou l'ajout de
            commentaires sur un blog. Les informations recueillies par ces cookies peuvent être anonymisées et ces cookies ne peuvent suivre votre activité de navigation sur d'autres sites. En utilisant notre service en ligne pour définir vos préférences,
            vous consentez à l'installation éventuelle de cookies de personnalisation sur votre appareil.</p>

        <h3>Catégorie 4 : </h3>
        <p>Cookies de ciblage ou cookies publicitaires Les cookies de catégorie 4 servent à diffuser des publicités plus pertinentes pour vous et vos centres d'intérêt, basée sur une analyse de votre navigation. Ils servent également à limiter le nombre
            de diffusions d'une même publicité ainsi qu'à nous aider à évaluer l'efficacité de toute campagne publicitaire. Ils sont généralement installés sur votre appareil par des réseaux publicitaires tiers, qui en ont toutefois reçu notre autorisation.
            Ces cookies mémorisent vos visites sur notre Site web. Ces informations sont partagées avec d'autres organisations telles que d'autres annonceurs tiers, et seront mises en lien avec les fonctionnalités de sites Internet fournies par d'autres
            organisations. Concrètement, ce sont les cookies de catégorie 4 qui recueillent le plus d'informations sur les utilisateurs.</p>

        <h3>CONFIGURATION DES PARAMETRES DE COOKIES</h3>
        <p>Vous pouvez refuser notre utilisation de cookies à tout moment, soit dès le début de votre navigation sur le Site web ou après avoir accepté le recours aux cookies dans un premier temps. Pour cela, il vous suffit de configurer votre navigateur
            pour limiter ou exclure l’utilisation de cookies, ou d’effacer les cookies ayant déjà été placés sur votre ordinateur. Cependant, dans ce cas, vous pourriez ne pas être en mesure d’utiliser certaines fonctionnalités du Site web. Les paramètres
            de cookies peuvent varier d’un navigateur à un autre. Les liens hypertextes ci-dessous fournissent des explications sur la manière de désactiver l’utilisation de cookies sur votre navigateur, et/ou sur la manière de les effacer : </p>
        <ul>
            <li>Chrome: <a href="https://support.google.com/chrome/answer/95647">https://support.google.com/chrome/answer/95647</a></li>
            <li>Internet Explorer: <a href="http://windows.microsoft.com/en-US/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/en-US/windows-vista/Block-or-allow-cookies</a></li>
            <li>Mozilla Firefox: <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a></li>
            <li>Safari: <a href="https://www.apple.com/legal/privacy/en-ww/cookies/">https://www.apple.com/legal/privacy/en-ww/cookies/</a></li>
        </ul>
        <p>De plus, si vous ne voulez pas être suivi par Google Analytics, vous pouvez installer le module complémentaire suivant : <a href="https://tools.google.com/dlpage/gaoptout?hl=fr">https://tools.google.com/dlpage/gaoptout?hl=fr</a></p>
        <p>Pour de plus amples informations sur Google Analytics et son utilisation de cookies, veuillez consulter la politique de cookies de Google Analytics, disponible au téléchargement sur : <a href="https://tools.google.com/dlpage/gaoptout?hl=fr">https://tools.google.com/dlpage/gaoptout?hl=fr</a></p>
    </section>
    <%- include(rootpath+'/partials/footer') %>