<%- include(rootpath+'/partials/header') %>
<h1 class="h1__upline">Administrez vos informations</h1>
<h1>Compte utilisateur</h1>
<h1 class="h1__downline">Vérifiez votre identité</h1>
<section class="section--without_border">
    <h2>Supprimer votre compte utilisateur</h1>
        <form action="/user/profil/delete" method="post">
            <label class="form--labelBox" for="user_password">
                <span class="form--label form--label--required">Mot de passe</span>
                <input class="form--input" type="password" name="user_password" id="user_password"
                    placeholder="********" required="true">
            </label>
            <button class="form--submit" type="submit">submit</button>
        </form>
</section>
<%- include(rootpath+'/partials/footer') %>