<%- include(rootpath+'/partials/header') %>
<section>
    <h1>Bienvenue sur ProjectHub</h1>
    <h1 class="down_line">Le projet qui vous PLUG !</h3>
</section>
<%- include(rootpath+'/partials/footer') %>