<%- include(rootpath+'/partials/header') %>
<h1>Mentions légales</h1>
<div>
    <p>Nom : KEHL</p>
    <p>Prénom: Johann</p>
    <p>Domicile: 31 RUE DES FLEURS COUERON</p>
</div>
<%- include(rootpath+'/partials/footer') %>