<%- include(rootpath+'/partials/header') %>

<h1>Profil utilisateur</h1>
<div>
    <p>Identifiant : <%= user.name %></p>
    <p>Email : <%= user.email %></p>
</div>
<a href="/profil/delete">Supprimer votre compte</a>

<%- include(rootpath+'/partials/footer') %>