<%- include(rootpath+'/partials/header') %>
<h1>Profil utlisateur</h1>
<div>
    <p>Identifiant utlisateur : <%= user.user_name %></p>
    <p>Email utlisateur: <%= user.user_mail %></p>
</div>
<%- include(rootpath+'/partials/footer') %>