<%- include(rootpath+'/partials/header') %>
<h1>Profil utilisateur</h1>
<div>
    <p>Identifiant : <%= user.user_name %></p>
    <p>Email : <%= user.user_mail %></p>
</div>
<%- include(rootpath+'/partials/footer') %>