<%- include(rootpath+'/partials/header') %>
<div class="h1__texthighlight">Rejoignez ProjectHub</div>
<h1>Créez votre compte utilisateur</h1>
<form action="/signup" method="post">
    <label class="form--labelBox" for="user_name">
        <span class="form--label form--label--required">Nom utilisateur</span>
        <input class="form--input" type="text" name="user_name" id="user_name" autofocus="autofocus"
            placeholder="Nom utilisateur" required="true" value="<%= locals.fields ? fields.user_name : ''%>">
    </label>
    <label class="form--labelBox" for="user_email">
        <span class="form--label form--label--required">Votre Email</span>
        <input class="form--input" type="email" name="user_email" id="user_email" placeholder="xxx@yyy.zzz"
            required="true" value="<%= locals.fields ? fields.user_email : ''%>">
    </label>
    <label class="form--labelBox" for="user_password">
        <span class="form--label form--label--required">Mot de passe</span>
        <input class="form--input" type="password" name="user_password" id="user_password" placeholder="********"
            required="true">
    </label>
    <label class="form--labelBox" for="user_passwordConfirm">
        <span class="form--label form--label--required">Confirmer le mot de passe</span>
        <input class="form--input" type="password" name="user_passwordConfirm" id="user_passwordConfirm" placeholder="********"
            required="true">
    </label>
    <button class="form--submit" type="submit">submit</button>
</form>
<%- include(rootpath+'/partials/footer') %>