<%- include(rootpath+'/partials/header',{header:{title:'INDEX PAGE'}}) %>
<form action="/signup" method="post">
    <label for="user_name">
        User pseudo :
        <input type="text" name="user_name" id="user_name">
    </label>
    <label for="user_lastName">
        User last name :
        <input type="text" name="user_lastName" id="user_lastName">
    </label>
    <label for="user_firstName">
        User first name :
        <input type="text" name="user_firstName" id="user_firstName">
    </label>
    <label for="user_mail">
        User email :
        <input type="email" name="user_mail" id="user_mail">
    </label>
    <label for="user_password">
        User password :
        <input type="password" name="user_password" id="user_password">
    </label>
    <button type="submit">submit</button>
</form>
<%- include(rootpath+'/partials/footer') %>