<%- include(rootpath+'/partials/header',{header:{title:'INDEX PAGE'}}) %>
<form action="/signin" method="post">
    <label for="user_name">
        User name :
        <input type="text" name="user_name" id="user_name">
    </label>
    <label for="user_password">
        User name :
        <input type="password" name="user_password" id="user_password">
    </label>
</form>
<%- include(rootpath+'/partials/footer') %>